<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Lemon Demo</title>
  </head>
  <script src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.5.0"></script>
  <body>
    <div class="container">
      <h1>{{ result }}</h1>
      <section id="section3">
        <h2>16 Bars</h2>
        <midi-player
          src="{{ url_for('serve_midi', filename='samp_01.mid') }}"
          sound-font
          visualizer="#section3 midi-visualizer"
        >
        </midi-player>
        <midi-visualizer
          src="{{ url_for('serve_midi', filename='samp_01.mid') }}"
        >
        </midi-visualizer>
      </section>
    </div>
  </body>
</html>
