<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Lemon Demo</title>
  </head>
  <script src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.5.0"></script>
  <script>
    function fetchProgress() {
      fetch("/logger")
        .then((response) => response.json())
        .then((data) => {
          document.getElementById("progress").innerText = `${data.progress}%`;
        })
        .catch((error) => console.error("Error fetching logger:", error));
    }

    // Call generation backend
    function generateLeadsheet() {
      // need to clear previous one
      // TODO:

      // busy wait, bad
      var intervalId = setInterval(fetchProgress, 1000);

      // Disable the button to prevent multiple clicks
      document.getElementById("generateButton").disabled = true;
      document.getElementById("statusText").innerText = "Generating...";

      // Send a request to the Flask route to generate the midi
      fetch("/generate_leadsheet")
        .then((response) => {
          if (response.ok) {
            // Once the generation is complete, show "Finished"
            document.getElementById("statusText").innerText = "Finished";
            return response.text();
          } else {
            throw new Error("Failed to generate audio");
          }
        })
        .then((midiFilePath) => {
          // Use the audio file path as needed
          console.log("Midi file path:", midiFilePath);
          document.getElementById("reload").reload();
          document.getElementById("reload_2").src =
            "{{ url_for('serve_gen_midi', filename='samp_01.mid') }}";
          document.getElementById("generateButton").disabled = false;

          clearInterval(intervalId);
          document.getElementById("progress").innerText = "";
        })
        .catch((error) => {
          console.error("Error:", error);
          document.getElementById("statusText").innerText = "Error occurred";
        });
    }
  </script>
  <body>
    <div class="container">
      <h1>{{ title }}</h1>
      <!-- <section id="sample">
        <h2>Sample</h2>
        <midi-player
          src="{{ url_for('serve_midi', filename='samp_01.mid') }}"
          sound-font
          visualizer="#sample midi-visualizer"
        >
        </midi-player>
        <midi-visualizer
          src="{{ url_for('serve_midi', filename='samp_01.mid') }}"
        >
        </midi-visualizer>
      </section> -->

      <section id="section3">
        <h2>Generated MIDI</h2>
        <button id="generateButton" onclick="generateLeadsheet()">Start</button>
        <p id="statusText"></p>
        <p id="progress"></p>
        <midi-player
          src="{{ url_for('serve_gen_midi', filename='samp_01.mid') }}"
          sound-font
          visualizer="#section3 midi-visualizer"
          id="reload"
        >
        </midi-player>
        <midi-visualizer
          src="{{ url_for('serve_gen_midi', filename='samp_01.mid') }}"
          id="reload_2"
        >
        </midi-visualizer>
      </section>
    </div>
  </body>
</html>
